# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Environment variables
.env
**/.env
.env.*.local
*.local

# OS/system files
.DS_Store
Thumbs.db

# Claude
.claude/

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
*.venv
__pycache__/
*.pyc

# Data & Storage (NEVER commit these)
/backend/dummy_data/
/webmap/public/data/
/dataset/storage/
/dataset/database/
/auth/database/
*.duckdb
*.parquet
/data/
/data/dataset-storage/
/data/dataset-storage/public/4124676113/
/data/dataset-storage/public/4124676113/microcensus/
/data/dataset-storage/public/4124676113/microcensus/commutes_education.parquet
/data/dataset-storage/public/4124676113/microcensus/commutes_work.parquet
/data/dataset-storage/public/4124676113/microcensus/household_info.parquet
/data/dataset-storage/public/4124676113/microcensus/household_persons.parquet
/data/dataset-storage/public/4124676113/microcensus/households.parquet
/data/dataset-storage/public/4124676113/microcensus/income.parquet
/data/dataset-storage/public/4124676113/microcensus/persons.parquet
/data/dataset-storage/public/4124676113/microcensus/trips.parquet
/data/dataset-storage/public/4124676113/synthetic/
/data/dataset-storage/public/4124676113/synthetic/_inspect.py
/data/dataset-storage/public/4124676113/synthetic/activities.parquet
/data/dataset-storage/public/4124676113/synthetic/csvtoparquet.py
/data/dataset-storage/public/4124676113/synthetic/eqasim_legs.csv
/data/dataset-storage/public/4124676113/synthetic/eqasim_legs.parquet
/data/dataset-storage/public/4124676113/synthetic/households.parquet
/data/dataset-storage/public/4124676113/synthetic/output_events.parquet
/data/dataset-storage/public/4124676113/synthetic/output_events.xml
/data/dataset-storage/public/4124676113/synthetic/output_trips.csv
/data/dataset-storage/public/4124676113/synthetic/output_trips.parquet
/data/dataset-storage/public/4124676113/synthetic/spider.duckdb
/data/dataset-storage/public/4124676113/synthetic/switzerland_activities.gpkg
/data/dataset-storage/public/4124676113/synthetic/switzerland_activities.parquet
/data/dataset-storage/public/4124676113/synthetic/switzerland_commutes.gpkg
/data/dataset-storage/public/4124676113/synthetic/switzerland_homes.gpkg
/data/dataset-storage/public/4124676113/synthetic/switzerland_households.parquet
/data/dataset-storage/public/4124676113/synthetic/switzerland_persons.parquet
/data/dataset-storage/public/4124676113/synthetic/switzerland_trips.gpkg
/data/dataset-storage/public/4124676113/synthetic/trips.parquet
data/
